body {
	background-color: powderblue;
	text-align: center;
	color: cadetblue;
}

@keyframes example {
	from {background-color: red;}
	to {background-color: yellow;}
}

div {
	width: 100px;
	height: 120px;
	background-color: darkred;
	animation-name: example;
	animation-duration: 4s;
	position: relative;
	animation-iteration-count: infinite;
	margin-left: auto;
	margin-right: auto;
}